[DESIGN]
max-args=7
min-public-methods=1

[BASIC]
good-names=e,_

[FORMAT]
max-line-length=120
single-line-if-stmt=no
indent-string='    '
indent-after-paren=4
expected-line-ending-format=LF

[MESSAGES CONTROL]
disable=C0111,too-many-arguments,too-many-instance-attributes,deprecated-method

[REPORTS]
reports=no