language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
install:
  - pip install -e .
  - pip install requests pytest-cov coveralls
before_script:
  - docker-compose -f tests/config/docker-compose.yml up -d
  - sleep 40
  - "curl -u admin:admin 'http://127.0.0.1:9000/api/search/universal/relative?query=test&range=5&fields=message' || true"
script: py.test -v --cov=pygelf
after_script:
  - docker-compose -f tests/config/docker-compose.yml down
after_success:
  - coveralls